# build directory
build

# # eclipse files
.project
.cproject
.settings
batchelor-common/.bash_history
batchelor-control/.bash_history
batchelor-head/.bash_history
batchelor-worker/.bash_history
batchelor-worker/err.log
batchelor-worker/out.log
batchelor-worker/.kube/

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
/.metadata/
jerry
