id: batchelor-head-common 0.0.1
name: batchelor-head-common
architecture: linux-gcc
sources-test-dir: src/main
provide: source static dynamic
static: batchelor-service
static: batchelor-common
#static: jerry4esl
#static: esl
#static: batchelor-service [0.0.1]
#static: batchelor-common [0.0.1]
#static: eslx [1.5.1]
