id: batchelor-head 0.0.1
name: batchelor-head
architecture: linux-gcc
sources-test-dir: src/main
provide: source static dynamic

#static: common4esl
static: batchelor-service
static: batchelor-common
